.container {
    display: flex;
    max-width: 200px;
    background: #0b2c6a;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;

}

.imageAva {
    align-self: flex-end;
}
.nameAndMes {
    color: whitesmoke;
    padding: 0 10px;
}
.contentBlock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #3f3063;
    position: relative;
}
.contentBlock::after {
    content: '';
    /* background-color: chocolate; */
    position: absolute;
    bottom: 0;
    /*right: -11px;*/
    display: block;
    height: 10px;
    width: 10px;
    right: 139px;
    /* z-index: -1; */
    background: inherit;
    clip-path: url(#svgPath);
    transform: rotate(269deg);
}
.container img {
    max-width: 60px;
    width: 100%;
    margin-right: 6px;
    border-radius: 50%;
}
.timeRight {
    align-self: flex-end;
}