.wrapper{
    margin: 40px auto;
    width: 350px;
    background: rgba(0 , 0, 0, .6);
    color: whitesmoke;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bolder;
    height: 40px;
    border-radius: 15px;
}
.checkMenu {
    display: none;
}
.checkMenuLabel{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
}
.burgerLine{
    position: absolute;
    top: 8px;
    right: 10px;
    width: 25px;
    height: 2px;
    background: whitesmoke;
    transition: all .5s;
}
.second, .third{
    top: 18px;
}
.forth{
    top: 28px;
}
.mainMenu{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: all .5s;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 10px;
}
.mainMenu a {
    display: block;
    width: 100%;
    color: whitesmoke;
    padding: 10px;
    text-decoration: none;
    border-top: 1px solid rgba(255, 255, 255, .3);
    background: rgba(0 , 0, 0, .6);
}
.activeLink{
    color: gold;
}
.checkMenu:checked ~ .mainMenu {
    max-height: 500px;
    font-size: 16px;
}
.checkMenu:checked ~ .first,
.checkMenu:checked ~ .forth{
    display: none;
}
.checkMenu:checked ~ .second {
    transform: rotate(45deg);
}
.checkMenu:checked ~ .third {
    transform: rotate(-45deg);
}
