.container{
    width: 60%;
    background: #000;
    display: flex;
    justify-content: space-around;
}
.addUser{
    display: flex;
}
.countUsers{
    margin-top: 50px;
    font-weight: bolder;
    color: #ff1143;
    font-size: 40px;
}